/* Colby Alexander Hoke
** UNC Data Analytics Bootcamp
** August 2020
*/

/* Body styling */
body {
    background-image: linear-gradient(to right, teal, white);
    background-color: ;
}

/* Header styling */
h1 {
    font-size: 30pt;
    color: teal;
}

/* Header styling */
h2 {
    font-size: 20pt;
}

/* Style the table on the data page */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Expand the table on the data page */
table{
    width:100%;
}

/* Add border and margins to images to make them stand out on homepage */
.smallimg {
    width: 40%;
    border: 1px solid black;
    margin: 5px;
  }

/* Style the images on visualization pages */
.bigimg {
    width: 100%;
    height: auto;
}

/* Style the border for active state images */
.selectedimg {
    width: 40%;
    border: 3px solid green;
    margin: 5px;
}

/* Style the footer */
.page-footer {
    background-color: white;
    border-top: 2px solid teal;
}

/*  This handles the smaller screen adaptive state.
    navbar-expand-md = collapses below 768px  */
@media screen and (max-width: 767px) {
    
    .bg-light {
        background-color: teal !important;
        }

    body {
        background-image: none;
        background-color: white;
    }
    
    .hidden {
        visibility: visible;
    }
}